@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Vítejte v útulku psů a koček </h1><h1 class="display-1">Kopretina</h1>
    <img src="https://vysivani.nej-sici-stroje.cz/vysivky/923_300.jpg" alt="" />
</div>
